<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../css/pages/home.css">
  <title>大头东的博客</title>
</head>
<body>
  <div id="container">
    <div class="heard-navigation">
      <div class="navi-title">dtdhehe的博客</div>
      <div class="navi-search">
        <img class="search-logo" src="../images/home/sosuo.png" alt="">
      </div>
      <div class="navi-login">登录</div>
      <div class="navi-register">注册</div>
    </div>
  </div>
  
</body>
</html>